#start-button{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  display:block;
}

.container .hits {
  margin: auto;
  height: 75px;
  width: 75px;
}

.center-hits{
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hit-btn{
  margin-bottom: 10px;
}

.hits-img{
  margin-bottom: 8px;
}

/*#miss-button{
borger-radius: 10px!important;
 font-size:16px;
 width: 30%!important;
  margin-left:2px;
  margin-right:2px;
 }
 */

.multiplier{
  borger-radius: 10px!important;
  font-size:24px;
  width: 30%!important;
  height: 100%!important;
  padding:0px!important;
}

#next-button{
  margin-top: 30px;
  margin-left: 5px;
}

#prev-button{
  margin-top: 30px;
  margin-right: 5px;
}

#fake-button{
  borger-radius: 10px!important;
  border-color: white;
  min-height:54px;
  font-size:24px;
  width: 50%!important;
  background-color: white!important;
}
#fake-button2{
  borger-radius: 10px!important;
  border-color: white;
  min-height:54px;
  font-size:24px;
  width: 50%!important;
  background-color: white!important;
}

.round-bar{
  grid-area: infobar2;
}

.col-head-left{
  grid-area: colhead1
}

.col-head-middle{
  grid-area: colhead2;
}

.col-head-right{
  grid-area: colhead3
}

.col-body-right{
  grid-area: colarea3;
  text-align: center;
}

.col-body-left{
  grid-area: colarea1;
  text-align: center;
}

.col-body-middle{
  grid-area: colarea2;
  text-align: center;
}

.container-fluid{
  display:grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "infobar1 infobar2 infobar3"
    "colhead1 colhead2 colhead3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
    "colarea1 colarea2 colarea3"
;

}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px!important;
  border-bottom-left-radius: 35px!important;
  font-size: 16px;
  text-align: center;
}

.btn-group-vertical{
  align-items: center!important;
}
