
<div *ngIf="gameStarted===false" class ="container-fluid" style="height: 100%; margin-top: 70px; margin-bottom: 70px; text-align:center;">
  <div class="col-head-middle"> <button class="btn btn-lg btn-primary" id="start-team-button" (click)="startTeam()" > Start Team Game </button></div>
  <div class="col-head-middle"> <button class="btn btn-lg btn-primary" id="start-button" (click)="start()" > Start Individual Game </button></div>
</div>
<div *ngIf="gameStarted===true" class="container-fluid" style="height: 100%; margin-top: 70px; margin-bottom: 70px; text-align:center;">

  <div class="col-top-left"><label *ngIf="gameStarted===true" >Round: {{ roundNumber }}</label></div>

  <div class="col-head-left" *ngIf="gameStarted===true"><label>{{firstPlayerGame.player.firstName}}</label></div>
  <div class="col-head-right" *ngIf="gameStarted===true"><label>{{secondPlayerGame.player.firstName}}</label></div>

  <div class="col-top-middle">
  <!-- <H1 *ngIf="gameStarted===true && moreDarts" >{{ currentPlayer.firstName }}: Throw {{ throwNum }} </H1>-->
  <label *ngIf="gameStarted===true && moreDarts" >{{ currentPlayer.firstName }}'s turn </label>
  <label *ngIf="gameStarted===true && !moreDarts" >Hit Next Player to Continue </label>
  <!--<H2 *ngIf="gameStarted===true && moreDarts" ></H2>-->
</div>

  <div *ngIf="showDoubles===true" class="col-head-middle warn-double">
  </div>
  <div *ngIf="showTriples===true" class="col-head-middle warn-triple">
  </div>

  <div class="container hits cell-left-1">
    <img class="hits-img" [hidden]="firstPlayerGame.twenties!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.twenties!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.twenties!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.twenties<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>

  <div class="container hits cell-left-2">
    <img class="hits-img" [hidden]="firstPlayerGame.nineteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.nineteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.nineteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.nineteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-left-3">
    <img class="hits-img" [hidden]="firstPlayerGame.eighteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.eighteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.eighteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.eighteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-left-4">
    <img class="hits-img" [hidden]="firstPlayerGame.seventeens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.seventeens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.seventeens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.seventeens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-left-5">
    <img class="hits-img" [hidden]="firstPlayerGame.sixteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.sixteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.sixteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.sixteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-left-6">
    <img class="hits-img" [hidden]="firstPlayerGame.fifteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.fifteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.fifteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img"  [hidden]="firstPlayerGame.fifteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-left-7">
    <img class="hits-img"  [hidden]="firstPlayerGame.bullseyes!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.bullseyes!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.bullseyes!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="firstPlayerGame.bullseyes<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>

  <div class="container hits cell-right-1">
    <img class="hits-img" [hidden]="secondPlayerGame.twenties!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.twenties!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.twenties!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.twenties<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>

  <div class="container hits cell-right-2">
    <img class="hits-img" [hidden]="secondPlayerGame.nineteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.nineteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.nineteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.nineteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-right-3">
    <img class="hits-img" [hidden]="secondPlayerGame.eighteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.eighteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.eighteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.eighteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-right-4">
    <img class="hits-img" [hidden]="secondPlayerGame.seventeens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.seventeens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.seventeens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.seventeens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-right-5">
    <img class="hits-img" [hidden]="secondPlayerGame.sixteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.sixteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.sixteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.sixteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-right-6">
    <img class="hits-img" [hidden]="secondPlayerGame.fifteens!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.fifteens!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.fifteens!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img"  [hidden]="secondPlayerGame.fifteens<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>
  <div class="container hits cell-right-7">
    <img class="hits-img"  [hidden]="secondPlayerGame.bullseyes!=0" src="../../../assets/0 zero.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.bullseyes!=1" src="../../../assets/1 one.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.bullseyes!=2" src="../../../assets/2 two.png" height="150" width="148"/>
    <img class="hits-img" [hidden]="secondPlayerGame.bullseyes<3" src="../../../assets/3 three.png" height="150" width="148"/>
  </div>

  <div class="btn-group col-top-right">
    <button *ngIf="gameStarted===true" class="btn btn-xl btn-primary hit-btn multiplier" id="miss-button" (click)="onMiss($event)" [disabled]="!moreDarts" > MISS! </button>
    <button *ngIf="gameStarted===true" class="btn btn-xl btn-warning hit-btn multiplier" id="dbl-button" (click)="toggleDouble()"> DOUBLE </button>
    <button *ngIf="gameStarted===true" class="btn btn-xl btn-danger hit-btn multiplier" id="trpl-button" (click)="toggleTriple()"> TRIPLE </button>
  </div>

    <div class="container cell-middle-1">
      <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="20-button" (click)="onHit20(1)" [disabled]="!moreDarts"> 20 </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="20-button-2" (click)="onHit20(2)" [disabled]="!moreDarts"> 20 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="20-button-3" (click)="onHit20(3)" [disabled]="!moreDarts"> 20 </button>
      </div>
    <div class="cell-middle-2">
      <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="19-button" (click)="onHit19(1)" [disabled]="!moreDarts"> 19 </button>
      <button *ngIf="showDoubles===true"  class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="19-button-2" (click)="onHit19(2)" [disabled]="!moreDarts"> 19 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="19-button-3" (click)="onHit19(3)" [disabled]="!moreDarts"> 19 </button>
    </div>
    <div class="cell-middle-3">
      <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="18-button" (click)="onHit18(1)" [disabled]="!moreDarts"> 18 </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="18-button-2" (click)="onHit18(2)" [disabled]="!moreDarts"> 18 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="18-button-3" (click)="onHit18(3)" [disabled]="!moreDarts"> 18 </button>
    </div>
    <div class="cell-middle-4">
      <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="17-button" (click)="onHit17(1)" [disabled]="!moreDarts" > 17 </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="17-button-2" (click)="onHit17(2)" [disabled]="!moreDarts" > 17 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="17-button-3" (click)="onHit17(3)" [disabled]="!moreDarts" > 17 </button>
    </div>
    <div class="cell-middle-5">
      <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="16-button" (click)="onHit16(1)" [disabled]="!moreDarts"> 16 </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="16-button-2" (click)="onHit16(2)" [disabled]="!moreDarts"> 16 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="16-button-3" (click)="onHit16(3)" [disabled]="!moreDarts"> 16 </button>

    </div>
    <div class="cell-middle-6">
     <button *ngIf="showSingles===true" class="btn btn-xl hit-btn btn-number font-class" id="15-button" (click)="onHit15(1)" [disabled]="!moreDarts"> 15 </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="15-button-2" (click)="onHit15(2)" [disabled]="!moreDarts"> 15 </button>
      <button *ngIf="showTriples===true" class="btn btn-xl hit-btn btn-number btn-triple font-class-triple" id="15-button-3" (click)="onHit15(3)" [disabled]="!moreDarts">  15 </button>
    </div>
    <div class="cell-middle-7">
      <button *ngIf="showDoubles!=true" class="btn btn-xl hit-btn btn-number font-class" id="bull-button" (click)="onHitBullseye(1)" [disabled]="!moreDarts"> BULL </button>
      <button *ngIf="showDoubles===true" class="btn btn-xl hit-btn btn-number btn-double font-class-double" id="bull-button-2" (click)="onHitBullseye(2)" [disabled]="!moreDarts"> BULL </button>
    </div>

    <div class="cell-middle-8 btn-group">
      <button class="btn btn-lg btn-danger hit-btn" id="prev-button" (click)="onPrevPlayer($event)" > PREV PLAYER</button>
    <button  class="btn btn-lg btn-danger hit-btn" id="next-button" (click)="onNextPlayer($event)" > NEXT PLAYER</button>
    </div>

</div>
