/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/

html {
  min-height: calc(100% - 10px);
  overflow: hidden;
}

body {
  height: calc(100% - 10px);
}
